{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h1 class="text-center my-3">Mon panier</h1>

    <div class="row">
        <div class="col-10 mx-auto">
            {% include 'include/_flashes.html.twig' %}
        </div>
    </div>

    <div class="row my-3">
        <div class="col-10 mx-auto">

            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Photo</th>
                    <th class="text-center">Titre</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Quantité</th>
                    <th class="text-center">P.U</th>
                    <th class="text-center">Total</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>

                {% for item in app.session.get('panier') %}
{#                    {% if key is not same as 'total' %}#}
                    <tr>
                        <td class="align-middle text-center">{{ item['article'].id }}</td>
                        <td class="align-middle text-center">
                        <img src="{{ asset('uploads/' ~ item['article'].image) }}" alt="photo de article" width="250" height="120" style="object-fit: contain;">
                        </td>
                         <td class="align-middle text-center">{{ item['article'].titre }}</td>
                         <td class="align-middle text-center">{{ item['article'].description }}</td>
                        
                        <td class="align-middle text-center">{{ item['quantity'] }}</td>
                        <td class="align-middle text-center">{{ item['article'].prix }}€</td>
                        <td class="align-middle text-center">{{ item['article'].prix * item['quantity'] }}€</td>
                        <td class="align-middle text-center">
                            <a href="{{ path('panier_add', {'id': item['article'].id}) }}" class="btn btn-success"><i class="fa-solid fa-circle-plus" title="Add une quantité de l'article du panier"></i></a>
                             <a href="{{ path('panier_minus', {'id': item['article'].id}) }}" class="btn btn-warning"><i class="fa-solid fa-circle-minus text-white" title="Supprimer une quantité de cet article du panier"></i></a>
                             <a href="{{ path('panier_remove', {'id': item['article'].id}) }}" class="btn btn-danger"><i class="fa-solid fa-circle-xmark" title="Supprimer cet article du panier"></i></a>
                        </td>
                    </tr>
{#                    {% endif %}#}
                {% else %}
                    <tr>
                        <td colspan="8" class="text-center bg-warning">Votre panier est vide</td>
                    </tr>
                {% endfor %}

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="align-middle text-center">Montant total : </td>
                        <td class="align-middle text-center">{{ total }}€</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
            <div class="d-flex justify-content-around">
                <a href="{{ path('empty_panier') }}" class="btn btn-danger col-2 text-center">Vider mon panier</a>
                  {% if not app.user %}
                <a href="{{ path('panier_validate') }}" class="btn btn-success col-2 text-center">Valider mon panier</a>
                {% else %}
                <a href="{{ path('panier_validate', {"id": app.user.id}) }}" class="btn btn-success col-2 text-center">Valider mon panier</a>
                {% endif %}
          </div>
        </div>
    </div>

{% endblock %}