{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal mt-5 text-center">Connectez-vous</h1>
    <div class="row">
    <div class="col-4 m-auto">
    <label for="inputEmail" class="mt-5">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword" class="mt-5">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control  mb-5" autocomplete="current-password" required>
</div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    

        <div class="checkbox mb-3 text-center">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
   

    <button class="btn btn-lg btn-primary col-2 mx-auto" type="submit">
        Sign in
    </button>
</form>
{% endblock %}
