{% extends "base.html.twig" %}

{% block title %}Modification du slider {% endblock %}

{% block body %}


	<h1 class="text-center my-4">Modification du slider</h1>

    
<a href="{{ path('show_slider') }}" class="text-dark btn btn-lg btn-primary"><i class="fa-solid fa-arrow-left"></i> Retour au slider</a>

	<div class="row">
		<div class="col-11 mx-auto my-4">

					{{ form_start(form) }}

						<div class="row">

					{# <div class="col-4">{{ form_row(form.roles) }}</div> #}

					{# {{ form_row(form.created_at | date('d/m/Y') ) }}

					{{ form_row(form.updatedAt | date('d/m/Y') ) }} #}

					{{ form_end(form) }}

			</div>
		</div>

	{% endblock %}