{% extends 'base.html.twig' %}

{% block title %}Coordonnées de livraison
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-8 mx-auto">
			{% include 'include/_flashes.html.twig' %}
		</div>
	</div>

	<h1 class="my-4 text-center">Valider vos coordonnées de livraison</h1>

	<div class="row">
		<div class="col-6 mx-auto border border-dark mb-5 p-5">
			{{ form_start(form) }}
			<div class="col-4">{{ form_row(form.prenom)  }}</div>
			<div class="col-4">{{ form_row(form.nom) }}</div>
			<div class="row">
				<div class="col-4">{{ form_row(form.adresse) }}</div>
			</div>
			<div class="row">
				<div class="col-4">{{ form_row(form.code_postal) }}</div>
			</div>
			<div class="row">
				<div class="col-4">{{ form_row(form.ville) }}</div>
			</div>
			<div class="row">
				<div class="col-4">{{ form_row(form.telephone) }}</div>
			</div>
			<div class="row">
				<div class="col-4">{{ form_row(form.email) }}</div>
			</div>


		</div>
	</div>

	<h2 class="my-4 text-center">Choisissez votre mode de livraison</h2>
	<div class="row">
		<div class="col-6 mx-auto border border-dark mb-5 p-5">
			<div class="col-6 mx-auto">
				{{ form_row(form.modelivraison) }}
			</div>
			{{ form_end(form) }}
		</div>

	{% endblock %}
