<nav class="navbar navbar-expand-lg text-deco-none backgroundred align-middle">
	<div class="container-fluid">
		<a class="navbar-brand text-white navhover mx-auto" href="{{ path('default_home') }}">GamingExchange.fr</a>
		{# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button> #}

		<div class="navbar-collapse" id="navbarSupportedContent">
			<form class="d-flex col-sm-12 col-md-12 col-lg-8 col-xl-9 col-xxl-9 mx-auto p-2">
				<input class="form-control me-2" type="search" aria-label="Search">
				<button class="btn btn-light" type="submit">
					<i class="fa-solid fa-magnifying-glass"></i>
				</button>
			</form>

			{% if not app.user %}
				<ul class="navbar-nav col-sm-12 col-md-12 col-lg-4 col-xl-3 col-xxl-3 pt-1">
					<li class="mx-auto">
						<a href="{{ path('show_panier') }}" class="btn btn-warning"><i class="fa-solid fa-cart-arrow-down"></i></a>
					</li>
					<li class="mx-auto">
						<a class="nav-link text-white navhover" href="{{ path('user_register') }}">S'inscrire</a>
					</li>
					<li class="mx-auto">
						<a class="nav-link text-white navhover" href="{{ path('app_login') }}">Se connecter</a>
					</li>

				{% else %}
					<ul class="navbar-nav col-sm-12 col-md-12 col-lg-4 col-xl-3 col-xxl-3 pt-1">
						<li class="mx-auto">
						<a href="{{ path('show_panier') }}" class="btn btn-warning"><i class="fa-solid fa-cart-arrow-down"></i></a>
					</li>
						{% if is_granted("ROLE_ADMIN") %}
					
							<li class="nav-item dropdown navhover:hover mx-auto">
								<a class="nav-link dropdown-toggle text-primary  navhover:hover text-white navhover" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Admin
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li class="mx-auto">
										<a class="dropdown-item navhover" href="{{ path('show_membre') }}">Gestion des membres</a>
									</li>
									<li class="mx-auto"><hr class="dropdown-divider"></li>
									<li class="mx-auto">
										<a class="dropdown-item navhover" href="{{path('show_produit') }}">Gestion des produits</a>
									</li>
									<li class="mx-auto"><hr class="dropdown-divider"></li>
									<li class="mx-auto">
										<a class="dropdown-item navhover" href="{{ path('show_categorie') }}">Gestion des catégories</a>
									</li>
									<li class="mx-auto"><hr class="dropdown-divider"></li>
									<li class="mx-auto">
										<a class="dropdown-item navhover" href="{{ path('show_slider') }}">Gestion du slider</a>
									</li>
							
							</li>
</ul>
						{% endif %}
						<li class="mx-auto">
						<a class="nav-link text-white navhover" href="{{ path('show_profile') }}">Espace perso</a>
						</li>
	
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</nav>

<nav class="nav nav-pills flex-column flex-sm-row backgroundredlight">
	<a class="flex-sm-fill text-sm-center nav-link text-white navhover mx-auto col-sm-12 col-md-12 col-lg-2" href="#">Nintendo</a>
	<a class="flex-sm-fill text-sm-center nav-link text-white navhover mx-auto col-sm-12 col-md-12 col-lg-2" href="#">Sony</a>
	<a class="flex-sm-fill text-sm-center nav-link text-white navhover mx-auto col-sm-12 col-md-12 col-lg-2" href="#">Microsoft</a>
	<a class="flex-sm-fill text-sm-center nav-link text-white navhover mx-auto col-sm-12 col-md-12 col-lg-2" href="#">Sega</a>
	<a class="flex-sm-fill text-sm-center nav-link text-white navhover mx-auto col-sm-12 col-md-12 col-lg-2" href="#">Accessoires</a>
	<a class="flex-sm-fill text-sm-center nav-link text-white navhover mx-auto col-sm-12 col-md-12 col-lg-2" href="#">Autres</a>
</nav>
