{% extends 'base.html.twig' %}

{% block title %}Voir toutes les catégories{% endblock %}

{% block body %}

    <h1 class="text-center my-3">Toutes les catégories</h1>

    <div class="row">
        <div class="col-8 mx-auto">
            {% include 'include/_flashes.html.twig' %}
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <a href="{{ path('create_categorie') }}" class="btn btn-lg btn-primary">Ajouter une catégorie <i class="fa-solid fa-circle-plus"></i></a>
        </div>
    </div>

    <table class="table my-3">
        <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Marque</th>
            <th>Famille</th>
            <th>Créé le</th>
            <th>Modifiée le</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for categorie in categories %}

            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.marque }}</td>
                <td>{{ categorie.famille }}</td>
                <td>{{ categorie.createdAt | date('d/m/Y') }}</td>
                <td>{{ categorie.updatedAt | date('d/m/Y') }}</td>
                <td>
                    <a href="" title="Voir la catégorie" class="text-center align-middle text-primary"><i class="fa-solid fa-eye"></i></a>
                    <a href="{{ path('update_categorie', {'id': categorie.id}) }}" title="Modifier la categorie" class="text-center align-middle text-warning"><i class="fa-solid fa-edit"></i></a>
                    <a href="{{ path('hard_delete_categorie', {'id': categorie.id} ) }}" title="Supprimer la categorie" class="text-center align-middle text-danger" onclick="return confirm('Voulez-vous archiver ce produit ?\n Si oui, il sera off-line.')"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>

        {% else %}

            <tr>
                <td colspan="11" class="bg-warning text-center">Aucun produit en ligne</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}