{% extends 'base.html.twig' %}

{% block title %}Page d'accueil GamingExchange{% endblock %}

{% block body %}

<h1 class="text-center my-3">Bienvenue sur Gaming Exchange</h1>

        <div class="row">
            <div class="col-10 mx-auto">
                {% include 'include/_flashes.html.twig' %}
            </div>
        </div>

<!-- CAROUSEL -->
<div class="row">
	<div class="container col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-7 mx-auto">
		<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>

			</div>
			<div class="carousel-inner">
				<div class="carousel-item drk active">
					<div class="slide1"></div>
					<img src="uploads/slider1.jpg" class="d-block w-100" alt="...">
					<div class="carousel-caption d-none d-md-block">
					</div>
				</div>
				<div class="carousel-item drk">
					<img src="uploads/playstation.jpg" class="d-block w-100" alt="...">
					<div class="carousel-caption d-none d-md-block">
						<h3>Sony</h3>
						<p>C'est plus fort que toi</p>
					</div>
				</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
	<!-- FIN CONTAINER -->

</div>
<!-- FIN CAROUSEL -->


<div class="row d-flex justify-content-around col-10 mx-auto">
{% for article in articles %}

        <div class=" col-sm-12 col-md-5 col-lg-5 col-xl-3 col-xxl-2 mt-5 mb-5 ms-3">
            <div class="card bg-danger mx-auto" style="width: 18rem;">
                <img src="{{ asset('uploads/' ~ article.image) }}" class="card-img-top" alt="une photo" style="object-fit: contain;" width="150" height="220">
                <div class="card-body">
                    <h5 class="card-title">{{ article.titre }}</h5>
                    <p class="card-text">{{ article.description | length > 31 ? article.description | slice(0,31) ~ '...' : article.description }}</p>
                    <a href="{{ path('panier_add', {'id': article.id}) }}" class="col-12 btn btn-warning text-center"><i class="fa-solid fa-cart-plus"></i></a>
					<h5 class="card-title">Prix : {{ article.prix }} €</h5>
					<h5 class="card-title"> Stock : {{ article.quantiteStock }} </h5>
                </div>
            </div>
        </div>
  
	{% endfor %}
  </div>
{% endblock %}

