{% extends 'base.html.twig' %}

{% block title %}Articles de {{ categorie.marque }}{% endblock %}

{% block body %}

    <h1 class="text-center my-4"> Catégorie {{ categorie.marque }}</h1>

    {% if articles is not empty %}

  <div class="row d-flex justify-content-around col-8 mx-auto">
{% for article in articles %}

        <div class="col-2 mt-5 mb-5 ms-3">
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('uploads/' ~ article.image) }}" class="card-img-top" alt="une photo" style="object-fit: contain;" width="150" height="220">
                <div class="card-body">
                    <h5 class="card-title">{{ article.titre }}</h5>
                    <p class="card-text">{{ article.description | length > 31 ? article.description | slice(0,31) ~ '...' : article.description }}</p>
                    <a href="{{ path('panier_add', {'id': article.id}) }}" class="col-12 btn btn-warning text-center"><i class="fa-solid fa-cart-plus"></i></a>
					<h5 class="card-title">Prix : {{ article.prix }} €</h5>
					<h5 class="card-title"> Stock : {{ article.quantiteStock }} </h5>
                </div>
            </div>
        </div>
  
	{% endfor %}
  </div>
    {% endif %}


{% endblock %}