{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}

    {% if produit is defined %}
        <h1 class="text-center my-3">Modifier le produit {{ produit.title }}</h1>
    {% else %}
        <h1 class="text-center my-3">Ajouter un produit</h1>
    {% endif %}

    <a href="{{ path('show_produit') }}" class="text-dark btn btn-lg btn-primary"><i class="fa-solid fa-arrow-left"></i> Retour aux produits</a>

    <div class="row">
        <div class="col-8 mx-auto">
            {{ form_start(form) }}

            <div class="row">
                <div class="col-12">{{ form_row(form.titre) }}</div>
            </div>

            <div class="row">
                <div class="col-12">{{ form_row(form.description) }}</div>
            </div>

            <div class="row">
                <div class="col-6">{{ form_row(form.prix) }}</div>
                 <div class="col-6">{{ form_row(form.image) }}</div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}