{% extends 'base.html.twig' %}

{% block title %}Visualisation du produit
{% endblock %}

{% block body %}

	<h1 class="text-center my-4">Visualisation du produit</h1>

    <a href="{{ path('show_produit') }}" class="text-dark btn btn-lg btn-primary"><i class="fa-solid fa-arrow-left"></i> Retour aux produits</a>

	<div class="row">
		<div class="col-12 mx-auto my-4">

			<table class="table">
				<thead class="table-dark">
					<tr>
						<th>#</th>
						<th>Titre</th>
						<th>Description</th>
						<th>Prix</th>
						<th>Photo</th>
						<th>Quantité Stock</th>
						<th>Catégorie</th>
						<th>Créé le</th>
						<th>Modifié le</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr>
                <td>{{ article.id }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.prix }}</td>€
                <td><img src="{{ asset('uploads/' ~ article.image) }}" alt="image de article" width="80" height="58" style="object-fit: contain;"></td>
                <td>{{ article.quantiteStock }}</td>
                <td>{{ article.categorie.marque }}</td>
                <td>{{ article.createdAt | date('d/m/Y') }}</td>
                <td>{{ article.updatedAt | date('d/m/Y') }}</td>
                <td>
							<a href=" {{ path('update_produit', {"id": article.id}) }}" class="" title="Modifier le produit">
								<i class="fa fa-edit"></i>
							</a>
							<a href="{{ path('hard_delete_produit', {"id" : article.id}) }}" class="text-danger" title="Supprimer le produit" onclick="return confirm('Voulez-vous supprimer ce produit ?')">
								<i class="fa fa-trash"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}