{% extends 'base.html.twig' %}

{% block title %}Visualisation de la catégorie
{% endblock %}

{% block body %}

	<h1 class="text-center my-4">Visualisation de la categorie</h1>

<a href="{{ path('show_membre') }}" class="text-dark btn btn-lg btn-primary"><i class="fa-solid fa-arrow-left"></i> Retour aux membres</a>

	<div class="row">
		<div class="col-12 mx-auto my-4">

			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Pseudo</th>
						<th>Email</th>
						<th>Rôle</th>
						<th>Prénom</th>
						<th>Nom</th>
						<th>Sexe</th>
						<th>Adresse</th>
						<th>Code postal</th>
						<th>Ville</th>
						<th>Téléphone</th>
						<th>Créé le </th>
						<th>Modifié le</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ user.id }}</td>
                        <td>{{ user.pseudo }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.roles | first }}</td>
						<td>{{ user.prenom }}</td>
						<td>{{ user.nom }}</td>
						<td>{{ user.sexe }}</td>
						<td>{{ user.adresse }}</td>
						<td>{{ user.codePostal }}</td>
						<td>{{ user.ville }}</td>
						<td>{{ user.telephone }}</td>
						<td>{{ user.createdAt | date('d/m/Y') }}</td>
						<td>{{ user.updatedAt | date('d/m/Y') }}</td>
						<td>
						
							<a href=" {{ path('update_membre', {"id": user.id}) }}" class="text-info" title="Modifier le user">
								<i class="fa fa-edit"></i>
							</a>
							<a href="{{ path('hard_delete_membre', {"id" : user.id}) }}" class="text-danger" title="Archiver le user" onclick="return confirm('Voulez-vous supprimer ce user ?')">
								<i class="fa fa-trash"></i>
							</a>
						</td>
					</tr>
			</tbody>
			</table>
		</div>
	</div>
{% endblock %}