{% extends "base.html.twig" %}

{% block title %}Modification des membres {% endblock %}

{% block body %}


	<h1 class="text-center my-4">Modification des membres</h1>

<a href="{{ path('show_membre') }}" class="text-dark btn btn-lg btn-primary"><i class="fa-solid fa-arrow-left"></i> Retour aux membres</a>

	<div class="row">
		<div class="col-11 mx-auto my-4">

			{{ form_start(form) }}

			<div class="row">
				<div class="col-6">{{ form_row(form.pseudo) }}</div>
				<div class="col-6">{{ form_row(form.email) }}</div>
			</div>
			<div class="row">
				<div class="col-6">{{ form_row(form.nom) }}</div>
				<div class="col-6">{{ form_row(form.prenom) }}</div>
			</div>
			<div class="row">
				<div class="col-6 d-none">{{ form_row(form.password) }}</div>
				<div class="col-6">{{ form_row(form.telephone) }}</div>
			</div>
			<div class="row">
				<div class="col-6">{{ form_row(form.sexe) }}</div>
				<div class="col-6">{{ form_row(form.datenaissance) }}</div>

			</div>
			<div class="row">
				<div class="col-12">{{ form_row(form.adresse) }}</div>
			</div>
			<div class="row">
				<div class="col-6">{{ form_row(form.code_postal) }}</div>
				<div class="col-6">{{ form_row(form.ville) }}</div>
			</div>
			{{ form_end(form) }}

			</div>
		</div>

	{% endblock %}